@import "./src/assets/styles/base.scss";

.box-item {
  @include flex(flex, center, center);
  @include size(125px, 125px);
  position: relative;

  .finish {
    z-index: 1;
  }

  .go-to-message {
    @include flex(flex, center, center, column);
    @include size(100px, 100px);
    z-index: 1;
    color: $black;
    @include font('medium');

    .icon {
      @include size(100px, 100px);
    }

    strong {
      margin-top: 10px;
    }
  }

  .dead-icon {
    @include size(100px, 100px);
    z-index: 1;
  }

  .start--finish-line {
    @include size(125px, 75px);
    position: absolute;
    top: -75px;
    left: 0;
    z-index: 1;
  }

  img {
    position: absolute;
    @include size(125px, 125px);
  }

  .pawn {
    @include size(105px, 105px);
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
  }

  .box-edit-mode {
    @include size(125px, 75px);
    z-index: 2;
    position: absolute;
    cursor: pointer;
  }
}
