mat-icon {
  user-select: none;
}

mat-error {
  @include font('ultra-small');
  margin-top: -8px;
}

.snackbar {
  color: $white;
  white-space: nowrap;
  max-width: 100% !important;
}

.snackbar-success {
  @extend .snackbar;
  background: $leaf;
}

.snackbar-error {
  @extend .snackbar;
  background: $danger;
}

::ng-deep .mat-tooltip {
  @include font('medium');
  padding: 15px;
  white-space: nowrap;
  max-width: 100% !important;
}
