@import "./src/assets/styles/base.scss";

.game-panel-container {
  @include flex(flex, center, center, row);
  @include size(100%, 100%);
  position: relative;
  color: $white;

  .board-container {
    @include flex(flex, center, center, column);
    @include size(50%, 100%);
    min-width: 750px;
  }

  .panel-container {
    @include flex(flex, flex-start, center, column);
    @include size(50%, 100%);

    .panel-top-buttons {
      @include flex(flex, flex-end, center, row);
      @include size(100%, 100px);

      button {
        @include size(200px, 40px);
        margin-right: 2.5%;
      }

      mat-icon {
        @include mat-icon-size(40px);
        transition: color 150ms ease-out;
        margin-right: 2.5%;

        &:hover {
          cursor: pointer;
          transition: color 150ms ease-in;
          color: $mat-primary;
        }
      }
    }

    .console-panel {
      @include size(95%, calc(100% - 300px));
      @include flex(flex, flex-end, flex-start, column, relative);
      @include font('medium');
      background: darken($background-353, 25%);
      box-sizing: border-box;
      padding: 15px;
      overflow: hidden;

      p {
        &:not(&:last-of-type) {
          font-weight: 200;
          opacity: 0.90;
        }

        &:last-of-type {
          font-weight: 700;
          opacity: 1;
        }
      }

      .success {
        color: $success;
      }

      .warning {
        color: $danger;
      }

      .info {
        color: $info;
      }

      .moved {
        color: $orange;
      }

      .goto {
        color: $indigo;
      }

      form {
        @include flex(flex, center, center, column, absolute);
        @include position(5px, 10px);
      }
    }

    .panel-bottom-button {
      @include flex(flex, center, center, column);
      @include size(100%, 200px);

      button {
        @include font('medium');
        min-width: 50%;
        height: 100px;
      }
    }
  }
}

@media screen and (max-height: 800px) {
  .game-panel-container {
    .panel-container {
      .console-panel {
        @include font('small');
      }
    }
  }
}
