@import "./src/assets/styles/base.scss";

.game-panel-container {
  @include flex(flex, center, center, row);
  @include size(100%, 100%);
  position: relative;
  color: $white;

  .board-container {
    @include flex(flex, center, center, column);
    @include size(50%, 100%);
    min-width: 750px;
  }

  .panel-container {
    @include flex(flex, flex-start, center, column);
    @include size(50%, 100%);

    .panel-top-buttons {
      @include flex(flex, flex-end, center, row);
      @include size(100%, 100px);

      button {
        @include size(200px, 40px);
        margin-right: 2.5%;
      }
    }

    .console-panel {
      @include size(95%, calc(100% - 300px));
      @include flex(flex, flex-end, flex-start, column);
      @include font('medium');
      background: darken($background-353, 25%);
      box-sizing: border-box;
      padding: 15px;
      overflow: hidden;

      p {
        &:last-of-type {
          font-weight: 700;
        }
      }

      .success {
        color: $success;
      }

      .warning {
        color: $danger;
      }

      .info {
        color: $info;
      }
    }

    .panel-bottom-button {
      @include flex(flex, center, center, column);
      @include size(100%, 200px);

      button {
        @include font('medium');
        min-width: 50%;
        height: 100px;
      }
    }
  }
}
