<h1 mat-dialog-title align="center" [ngClass]="isWinner ? 'success' : 'danger'">{{ isWinner ? 'Wygrana!' : 'Przegrana!' }}</h1>
<div mat-dialog-content align="center">
  <p>
    <img src="../../../../assets/images/winner.png" alt="">
  </p>
  <p>Liczba rzutów: <strong>{{ summaryStatistics.totalThrows }}</strong></p>
  <p>Całkowita liczba wyrzuconych oczek: <strong>{{ summaryStatistics.totalAmountDrawnNumbers }}</strong></p>
  <p>Średnia liczba wyrzuconych oczek: <strong>{{ summaryStatistics.averangeAmountDrawnNumbers }}</strong></p>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="closeDialog(true)">Zagraj od nowa</button>
  <button mat-raised-button color="warn" (click)="closeDialog(false)">Wyjdź z gry</button>
</div>
