<div class="homepage-container">
  <div class="background-top-left"></div>
  <div class="background-top-right"></div>
  <div class="background-bottom-right"></div>
  <div class="game-logo">
    <img src="../../../../assets/images/dice.png" alt="">
  </div>
  <div class="buttons-container">
    <button mat-raised-button
            color="primary"
            routerLink="../game-panel"
            matTooltip="Kliknij aby rozpocząć nową grę"
            (click)="initNewGame()">Nowa gra</button>
    <button mat-raised-button
            color="primary"
            routerLink="../game-panel"
            matTooltip="Kliknij aby kontynować grę"
            [disabled]="!(gameStateService.gameStateAvaiable$ | async)">Kontynuuj grę</button>
    <mat-icon matTooltip="Przejdź do ustawień gry"
              [routerLink]="['../', 'settings', { outlets: { board: 'board', edit: 'edit' }}]">settings</mat-icon>
  </div>
  <footer matTooltip="Aktualna wersja gry">version 1.0</footer>
</div>
