<div class="homepage-container">
  <div class="background-top-left"></div>
  <div class="background-top-right"></div>
  <div class="background-bottom-right"></div>
  <div class="game-logo">
    <img alt="" src="assets/images/dice.png">
  </div>
  <div class="buttons-container">
    <button (click)="initNewGame()"
            color="primary"
            mat-raised-button
            matTooltip="Kliknij aby rozpocząć nową grę"
            routerLink="../game-panel">Nowa gra
    </button>
    <button [disabled]="!isGameStateAvailable"
            color="primary"
            mat-raised-button
            matTooltip="Kliknij aby kontynować grę"
            routerLink="../game-panel">Kontynuuj grę
    </button>
    <mat-icon [routerLink]="['../', 'settings', { outlets: { board: 'board', edit: 'edit' }}]"
              matTooltip="Przejdź do ustawień gry">settings
    </mat-icon>
  </div>
  <footer matTooltip="Aktualna wersja gry">version 1.0</footer>
</div>
