<div class="board" *ngIf="boxesSettings">
  <div class="left-side">
    <div class="finish"><app-box [id]="20" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[19]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="19" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[18]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="18" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[17]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="17" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[16]" [editMode]="editMode"></app-box></div>
  </div>
  <div class="top-side">
    <div><app-box [id]="1" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[0]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="2" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[1]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="3" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[2]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="4" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[3]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="5" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[4]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="6" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[5]" [editMode]="editMode"></app-box></div>
  </div>
  <div class="right-side">
    <div><app-box [id]="7" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[6]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="8" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[7]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="9" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[8]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="10" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[9]" [editMode]="editMode"></app-box></div>
  </div>
  <div class="bottom-side">
    <div><app-box [id]="16" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[15]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="15" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[14]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="14" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[13]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="13" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[12]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="12" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[11]" [editMode]="editMode"></app-box></div>
    <div><app-box [id]="11" [pawnPosition]="pawnPosition" [boxSettings]="boxesSettings[10]" [editMode]="editMode"></app-box></div>
  </div>
</div>
